body{
    background-color: bisque;
    background-image: url(https://images.ctfassets.net/pdf29us7flmy/3WyIJe69O5yOumjv5Gv01I/f63e9b05be4763bce6561f7555bdbbcf/B7023-How-to-Build-my-Resume-Social.png);
    background-size: cover;
    padding:5px 5px 5px 5px;
}
#horibar{
    background-color: rosybrown;
    display:inline table;
}


#card{
    border: 2px solid;
    padding: 20px 20px 25px 20px;
    border-color: darkorange;
}

h1{
    color:black;
    font-style:italic;
    color: red;
    
}
h1:hover{
    color: yellowgreen;
}
.t1{
     color: brown;
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: yellow;
}
.t2{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darksalmon;

}
#sec1{
    font-family: monospace;
    font-size: large;
}
#sec1 table,th,td,tr{
    border-collapse: collapse;
    width: 50px;
}
table,th,td,tr{
    border-collapse: collapse;
    border:solid;
    border-color: red;
}
#t2cert{
    font-size:20px; color:black;
}
.nav{
    display: inline table;
    padding: 5px;
}
li a{
    text-decoration: none;
}
.dropdown{
    width: 25px;
      position:relative;
    }

    .dropdown-button {
      width: 100%;
      padding: 2px;
      border: 1px solid #3498db;
      border-radius: 5px;
      background-color: #3498db;
      color: #fff;
      cursor: pointer;
    }
    .dropdown-list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: none;
      position: absolute;
      width: 100%;
      border: 1px solid #3498db;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .dropdown-item:hover {
      background-color: #3498db;
      color: #fff;
    }
    .dropdown:hover .dropdown-list,
    .dropdown:focus-within .dropdown-list {
      display: block;
}
@media only screen and (max-width: 768px) {
    body {
        background-image: none; 
    }

    #horibar {
        display: block; 
    }
}
#spi{
width=600px;
    border: 2px solid;
    padding: 20px 20px 25px 20px;
    border-color: darkorange;
}
